@font-face{
    font-family: '';
    src: url('') format('');
}
ul li{
    text-align: center;
    float:right;
    padding:30px;
    margin:15px;
    font-size:large;
    /*position: relative;top:30px;right:110px;*/
}
li:hover{
    background-color: rgba(85, 255, 0, 0.713);
   text-shadow:0 0 2px rgba(191, 79, 5, 0.755);
    /* box-shadow:3px 3px 5px gray;این دیگه زیادی بود همش سایه بندازیم دیگه خوشگل نیس*/
    transition-duration:0.567s;
    border-radius:10px;
}
ul{
    list-style-type:none;
    background-color: rgb(76, 235, 81);
    overflow: hidden;
    height:100px;
    width:500px;
    border-radius: 5px;
    position: relative;left:700px;top:-10px;
    background-image: linear-gradient(to right ,rgba(35, 235, 118,0.4) ,rgba(69, 117, 240,0.3));
    box-shadow: 5px 5px 7px gray;
}
ul li a{
    text-decoration:none;
    color: rgba(186, 22, 84, 0.775);
}
.ca{
    direction: rtl;
    position: relative;right: 160px;top: 140px;
}
.cover-for-page {
    direction: rtl;
    border-left: 2px dashed gray;
    border-right: 2px dashed gray;
    height: 2000px;
    margin:40;
    border-width: -2px;
}
div header{
    position: relative;right: 60px;
}











