@font-face{
    font-family: '';
    src: url('') format('');
}
ul li{
    text-align: center;
    float:right;
    padding:30px;
    margin:15px;
    font-size:large;
    /*position: relative;top:30px;right:110px;*/
}
li:hover{
    background-color: rgba(85, 255, 0, 0.713);
   text-shadow:0 0 2px rgba(191, 79, 5, 0.755);
    /* box-shadow:3px 3px 5px gray;این دیگه زیادی بود همش سایه بندازیم دیگه خوشگل نیس*/
    transition-duration:0.567s;
    border-radius:10px;
}
ul{
    list-style-type:none;
    background-color: rgb(76, 235, 81);
    overflow: hidden;
    height:100px;
    width:500px;
    border-radius: 5px;
    position: relative;left:700px;top:-10px;
    background-image: linear-gradient(to right ,rgba(35, 235, 118,0.4) ,rgba(69, 117, 240,0.3));
    box-shadow: 5px 5px 7px gray;
}
ul li a{
    text-decoration:none;
    color: rgba(186, 22, 84, 0.775);
}
.ca{
    direction: rtl;
    position: relative;right: 160px;top: 140px;
}
.cover-for-page {
    direction: rtl;
    border-left: 2px dashed gray;
    border-right: 2px dashed gray;
    height: 2000px;
    width: 1400px;

    position: relative;left: 280px;top: 80px;
    border-width: -2px;
}
div header{
    position: relative;right: 60px;
}
.header_photo{
    border-radius: 24px;
}
.shadow-img{
    position: absolute;top: 95px; right: 250px;
    box-shadow:80px 75px 1px 5px rgba(0, 255, 127, 1) ;
    border-radius: 24px;
    height: 500px;
}
.p-style{
    position: absolute;top: 620px;right:-97px ;
    font-size: 23px;
}
.body-form{
    position: absolute;top: 750px;right:-97px;
    font-size:23px;
}
.image-main{
    height:400px;
    position:absolute;top: 130px;right:420px;
    border-radius: 24px;
    box-shadow:10px 10px 15% 3px gray;
}











